
<nav class="bg-slate-400 h-14 text-white">
    
    <ul class="flex bg-black border-b-[1px] justify-around h-full items-center text-lg">
        <li><a class="" routerLink="/home">Home</a></li>
        <li><a routerLink="/event:/id">Events</a></li>
        <li><a routerLink="/my-booking">My Booking</a></li>
        <li class="flex gap-5">
            <button class="bg-red-600 px-4 py-1 rounded-lg" (click)="OpenLoginPopup()">Login</button>
            <button class="bg-green-600 px-4 py-1 rounded-lg" (click)="OpenRegisterPopup()">Register</button>
        </li>
        
    </ul>
   
  </nav>
@if (isLogin) {
    <div class="w-[40vw] h-[50vh] bg-black rounded-xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-4 text-white">
        <h1 class="text-center text-4xl font-medium">Login</h1>
        <form class="flex flex-col gap-4 px-10">
            <div class="flex flex-col gap-2 ">
                <label class="text-lg  outline-none rounded-lg" for="contact">Contact</label>
                <input name="ContactNo" [(ngModel)]="loginUser.ContactNo" class="outline-none rounded-lg px-4 py-1 text-lg bg-white bg-opacity-5" id="contact" type="number"
                 placeholder="enter Phone Number">
            </div>
            <div class="flex flex-col gap-2">
                <label class="text-lg text-white outline-none rounded-lg" for="password">Password</label>
                <input name="Password" [(ngModel)]="loginUser.Password" [(ngModel)]="userObj" class="outline-none rounded-lg px-4 py-1 text-lg bg-white bg-opacity-5" id="password" type="password"
                placeholder="enter Password">
            </div>
           <div class="flex justify-around mt-3 ">
            <button class="bg-red-500 px-10 py-2 rounded-lg" (click)="onLogin()">Login</button>
            <button class="bg-red-500 px-10 py-2 rounded-lg" (click)="isLogin=false">Close</button>
           </div>
        </form>
     </div>
    
}
 
@if (isRegister) {
    <div class="w-[40vw]  bg-black rounded-xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-4 text-white">
        <h1 class="text-center text-4xl font-medium">Register</h1>
        <form class="flex flex-col gap-4 px-10" (submit)="onRegister($event)">
            <div class="flex flex-col gap-2 ">
                <label class="text-lg  outline-none rounded-lg" for="name">Name</label>
                <input name="name"  [(ngModel)]="userObj.Name" class="outline-none rounded-lg px-4 py-1 text-lg bg-white bg-opacity-5" id="name" type="text"
                placeholder="enter Name">
            </div>
            <div class="flex flex-col gap-2 ">
                <label class="text-lg  outline-none rounded-lg" for="email">Email</label>
                <input name="email" [(ngModel)]="userObj.Email" class="outline-none rounded-lg px-4 py-1 text-lg bg-white bg-opacity-5" id="email" type="email"
                placeholder="enter Email">
            </div>
            <div class="flex flex-col gap-2">
                <label class="text-lg text-white outline-none rounded-lg" for="password">Password</label>
                <input name="password" [(ngModel)]="userObj.Password" class="outline-none rounded-lg px-4 py-1 text-lg bg-white bg-opacity-5" id="password" type="password"
                placeholder="enter Password">
            </div>
            <div class="flex flex-col gap-2">
                <label class="text-lg text-white outline-none rounded-lg" for="contact">Contact Number</label>
                <input name="contact" [(ngModel)]="userObj.ContactNo" class="outline-none rounded-lg px-4 py-1 text-lg bg-white bg-opacity-5" id="contact" type="number"
                placeholder="enter Phone Number">
            </div>
           <div class="flex  mt-3  justify-around">
            <button class="bg-red-500 px-10 py-2 rounded-lg" type="submit">Register</button>
            <button class="bg-red-500 px-10 py-2 rounded-lg" (click)="isRegister=false">Close</button>
           </div>
        </form>
     </div>
}



 
